<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718245823939-g5rf6slie5ge2u0js7nutk1mbm9o30ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718245823939-g5rf6slie5ge2u0js7nutk1mbm9o30ga</string>
	<key>API_KEY</key>
	<string>AIzaSyBPMk0XeKQMlvZ0_DZsT83COxJ9RVrwY3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>718245823939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>myloginapplication-12be7</string>
	<key>STORAGE_BUCKET</key>
	<string>myloginapplication-12be7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718245823939:ios:60cebfa8ebd71261baa976</string>
</dict>
</plist>